---
import Image from "astro/components/Image.astro";
import Layout from "@layouts/Layout.astro";
import ContactHeroModal from "@components/ContactHeroModal";
import css from "@styles/pages/home.module.css";
import SwiperComponent from "@components/shared/swiper/SwiperComponent.astro";
import SimplePopover from "@components/shared/simplePopover/SimplePopover.astro";
import { Swiper, SwiperSlide } from "astro-swiper";

import logoHtml from "@assets/images/tools/logoHtml.svg";
import logoCss from "@assets/images/tools/logoCss.svg";
import logoJs from "@assets/images/tools/logoJavascript.svg";
import logoReact from "@assets/images/tools/logoReact.svg";
import logoAstro from "@assets/images/tools/logoAstro.svg";
import logoTailwind from "@assets/images/tools/logoTailwind.svg";
import logoNode from "@assets/images/tools/logoNode.svg";
import logoTypescript from "@assets/images/tools/logoTypescript.svg";
import logoFigma from "@assets/images/tools/logoFigma.svg";
import logoGithub from "@assets/images/tools/logoGithub.png";

import processOne from "@assets/images/process-1.png";
import processTwo from "@assets/images/process-2.png";
import processThree from "@assets/images/process-3.png";
import processFour from "@assets/images/process-4.png";
import processFive from "@assets/images/process-5.png";
import processSix from "@assets/images/process-6.png";

import landingPageImage from "@assets/images/landing-page.png";
import webSiteImage from "@assets/images/web-site.png";
import cmsImage from "@assets/images/cms-image.svg";
import type { SwiperI } from "@components/shared/swiper/swiperType";

const toolsSwiperOptions = {
    slidesPerView: 3,
    spaceBetween: 10,
    loop: true,
    autoplay: {
        delay: 1500,
        disableOnInteraction: false,
        pauseOnMouseEnter: true,
    },
    breakpoints: {
        450: {
            // sm
            slidesPerView: 4,
            spaceBetween: 10,
        },
        // 540: {
        //     // sm
        //     slidesPerView: 4,
        //     spaceBetween: 10,
        // },
        640: {
            // sm
            slidesPerView: 5,
            spaceBetween: 10,
        },
        // 768: {
        //     // md
        //     slidesPerView: 2,
        //     spaceBetween: 24,
        // },
        860: {
            // sm
            slidesPerView: 6,
            spaceBetween: 10,
        },
        1024: {
            // lg
            slidesPerView: 7,
            spaceBetween: 10,
        },
        1280: {
            // xl
            slidesPerView: 8,
            spaceBetween: 0,
        },
        // 1536: {
        //     // 2xl
        //     slidesPerView: 5,
        //     spaceBetween: 48,
        // },
    },
} as SwiperI;

const processSteps = [
    {
        title: "Conocerte",
        subtitle: "Entender quién eres, qué hacer y tus metas",
        image: processOne,
        details: [
            { title: "Identificar", value: "Objetivos y necesidades." },
            { title: "Análisis", value: "Público objetivo y competencia" },
            {
                title: "Recopilación",
                value: "Referencias, estilos y funcionalidades",
            },
        ],
    },
    {
        title: "Planificación",
        subtitle: " Organizar el contenido y definir la estructura de la web",
        image: processTwo,
        details: [
            { title: "Rastreo", value: "Mapa del sitio (sitemap)" },
            { title: "Definición", value: "Páginas y secciones" },
            { title: "Navegación", value: "Movilidad entre páginas del sitio" },
        ],
    },
    {
        title: "Bocetar / Diseñar",
        subtitle: "Crear un esquema y dar vida visual básica de tu web",
        image: processThree,
        details: [
            { title: "Validar", value: "Estructura y flujo de navegación" },
            { title: "Versiones", value: "Escritorio y móvil" },
            {
                title: "Revisión y aprobación",
                value: "Corroborar que se visualice correctamente",
            },
        ],
    },
    {
        title: "Desarrollar",
        subtitle: "Convertir el diseño en una web funcional",
        image: processFour,
        details: [
            {
                title: "Programación",
                value: "Codificación de interfaz y funcionalidades",
            },
            { title: "Carga", value: "Se simula con datos válidos" },
        ],
    },
    {
        title: "Testear",
        subtitle: "Asegurar que todo funciona correctamente",
        image: processFive,
        details: [
            {
                title: "Browsers",
                value: "Revisión en los navegadores más usados",
            },
            {
                title: "Datos",
                value: "Test de formularios, links, comportamientos, etc.",
            },
            { title: "Correción", value: "Corregir errores y ajustes finales" },
        ],
    },
    {
        title: "Lanzamiento!!",
        subtitle:
            "Publicar tu sitio oficialmente en internet. Ya puedes visualizarlo y compartirlo!!",
        image: processSix,
        details: [
            { title: "Publicación", value: "Se sube tu sitio" },
            {
                title: "Verificación",
                value: "Se revisa una vez más que todo este correcto",
            },
        ],
    },
];
---

{}
<Layout title="test" description="test description">
    <!-- HERO -->
    <section
        class={`${css["hero"]} `}
        data-aos="fade-down"
        data-aos-duration="1500"
    >
        <h1 class={`${css["hero-title"]}`}>
            Construimos tu presencia digital. Soluciones web que crecen contigo.
        </h1>
        <div class={`${css["hero-description"]}`}>
            <h3>Soluciones web que crecen contigo.</h3>
            <p>
                Desarrollamos sitios web rápidos, funcionales y adaptados a tu
                negocio. Desde la landing hasta tu web completa, cada línea de
                código con propósito.
            </p>
        </div>
        <ContactHeroModal client:load />
    </section>

    <!-- BRAND -->
    <section
        class={`${css["brand-container"]}`}
        data-aos="fade-up-right"
        data-aos-duration="1000"
    >
        <div
            class={`${css["brand-content"]}`}
            data-aos="flip-left"
            data-aos-duration="2000"
        >
            <SwiperComponent
                optionsSwiper={toolsSwiperOptions}
                classSwiperUser={`${css["swiper-tools"]}`}
                paginationUser={true}
            >
                <SwiperSlide>
                    <div class={`${css["card-tools"]}`}>
                        <Image src={logoHtml} alt="logo-Html" />
                        <p>HTML</p>
                    </div>
                </SwiperSlide>

                <SwiperSlide>
                    <div class={`${css["card-tools"]}`}>
                        <Image src={logoCss} alt="logo-Css" />
                        <p>CSS</p>
                    </div>
                </SwiperSlide>

                <SwiperSlide>
                    <div class={`${css["card-tools"]}`}>
                        <Image src={logoJs} alt="logo-Js" />
                        <p>JavaScript</p>
                    </div>
                </SwiperSlide>

                <SwiperSlide>
                    <div class={`${css["card-tools"]}`}>
                        <Image src={logoReact} alt="logo-React" />
                        <p>React</p>
                    </div>
                </SwiperSlide>

                <SwiperSlide>
                    <div class={`${css["card-tools"]}`}>
                        <Image src={logoAstro} alt="logo-Astro" />
                        <p>Astro</p>
                    </div>
                </SwiperSlide>

                <SwiperSlide>
                    <div class={`${css["card-tools"]}`}>
                        <Image src={logoTailwind} alt="logo-Tailwind" />
                        <p>Tailwind CSS</p>
                    </div>
                </SwiperSlide>

                <SwiperSlide>
                    <div class={`${css["card-tools"]}`}>
                        <Image src={logoNode} alt="logo-Node" />
                        <p>Node.js</p>
                    </div>
                </SwiperSlide>

                <SwiperSlide>
                    <div class={`${css["card-tools"]}`}>
                        <Image src={logoTypescript} alt="logo-Typescript" />
                        <p>TypeScript</p>
                    </div>
                </SwiperSlide>

                <SwiperSlide>
                    <div class={`${css["card-tools"]}`}>
                        <Image src={logoFigma} alt="logo-Figma" />
                        <p>Figma</p>
                    </div>
                </SwiperSlide>

                <SwiperSlide>
                    <div class={`${css["card-tools"]}`}>
                        <Image src={logoGithub} alt="logo-Github" />
                        <p>GitHub</p>
                    </div>
                </SwiperSlide>
            </SwiperComponent>
            <div class={`${css["brand-text"]}`}>
                <p>
                    No solo escribimos código. Le damos estructura a tu visión,
                    forma a tus ideas y sentido a tu presencia digital.
                </p>

                <h4>Tu web empieza aquí.</h4>
            </div>
        </div>
    </section>

    <!-- SERVICES -->
    <section class={`${css["services-container"]}`}>
        <h2 class={`${css["services-title"]}`}>¿Cómo podemos ayudarte?</h2>

        <article
            class={`${css["card-services"]} ${css["card-wave-one"]}`}
            data-aos="flip-left"
        >
            <section class={`${css["card-text"]}`}>
                <h4 class={`${css["card-text__title"]}`}>Landing page</h4>
                <p class={`${css["card-text__subtitle"]}`}>
                    Impulsa tus campañas con páginas de aterrizaje a medida
                </p>
                <p class={`${css["card-text__desc"]}`}>
                    Desde el diseño hasta la implementación, nuestras landing
                    pages combinan estética, funcionalidad y enfoque estratégico
                    para convertir visitantes en oportunidades reales.
                </p>
            </section>
            <section class={`${css["card-image"]}`}>
                <Image src={landingPageImage} alt="servicio de landingpage" />
            </section>
        </article>

        <article
            class={`${css["card-services"]} ${css["card-wave-two"]}`}
            data-aos="flip-right"
        >
            <section class={`${css["card-text"]}`}>
                <h4 class={`${css["card-text__title"]}`}>WebSites</h4>
                <p class={`${css["card-text__subtitle"]}`}>
                    Sitios web diseñados para crecer con tu negocio
                </p>
                <p class={`${css["card-text__desc"]}`}>
                    Desde una página institucional hasta soluciones complejas,
                    en TriveLabs desarrollamos sitios web pensados para escalar,
                    conectar y destacar.
                </p>
            </section>
            <section class={`${css["card-image"]}`}>
                <Image src={webSiteImage} alt="servicio de web site completo" />
            </section>
        </article>

        <article
            class={`${css["card-services"]} ${css["card-wave-three"]}`}
            data-aos="flip-left"
        >
            <section class={`${css["card-text"]}`}>
                <h4 class={`${css["card-text__title"]}`}>CMS</h4>
                <p class={`${css["card-text__subtitle"]}`}>
                    El sitio no es el problema. Es el control.
                </p>
                <p class={`${css["card-text__desc"]}`}>
                    Tu negocio, tu web, tu contenido, tus reglas. Desde la
                    landing hasta el sitio completo, gestioná todo sin depender
                    de nadie.
                </p>
            </section>
            <section class={`${css["card-image"]}`}>
                <Image src={cmsImage} alt="servicio de CMS " />
            </section>
        </article>
    </section>

    <!-- PROCESS -->

    <section class={`${css["banner-container"]}`}>
        <h2>¿Qué hay de nuestro proceso?</h2>
        <p>
            Tenemos muy claro nuestro proceso para poder hacer que tus
            necesidades sean cubiertas como tú lo deseas
        </p>
    </section>

    <section class={`${css["process-container"]}`}>
        {
            processSteps.map((step, idx) => (
                <article
                    class={`${css["process__step"]}`}
                    data-aos={idx % 2 == 0 ? "fade-right" : "fade-left"}
                    data-aos-duration="1400"
                >
                    <div class={`${css["process__step--img-container"]}`}>
                        <h3>
                            {idx + 1}- {step.title}
                        </h3>
                        <div>
                            <Image src={step.image} alt="servicio de CMS " />
                        </div>
                    </div>
                    <div class={`${css["process__step--text"]}`}>
                        <h4>{step.subtitle}</h4>
                        <ul>
                            {step.details.map((detail) => (
                                <li>
                                    <p>
                                        {detail.title}:{" "}
                                        <span>{detail.value}</span>
                                    </p>
                                </li>
                            ))}
                        </ul>
                    </div>
                </article>
            ))
        }

        <!-- <article class={`${css["process__step"]}`}>
            <div class={`${css["process__step--img-container"]}`}>
                <h3>Title</h3>
                <div>
                    <Image src={processOne} alt="servicio de CMS " />
                </div>
            </div>
            <div class={`${css["process__step--text"]}`}>
                <h4>Subtitle</h4>
                <ul>
                    <li>
                        <p>title: <span>value</span></p>
                    </li>
                </ul>
            </div>
        </article> -->
    </section>

    <!-- BLOG -->

    <section
        class={`${css["blog-container"]}`}
        data-aos="fade-up-right"
        data-aos-duration="1000"
    >
        <h2 class={`${css["blog-title"]}`}>Visita nuestro blog</h2>

        <section>
            <SwiperComponent
                classSwiperUser={`${css["swiper-blog"]}`}
                paginationUser={true}
            >
                <SwiperSlide>
                    <article class={`${css["card-blog"]}`}>
                        <div class={`${css["card-blog--img"]}`}>
                            <!-- <Image
                                src={processOne}
                                alt="imagen de blog"
                                title="titulo del blog"
                            /> -->
                        </div>
                        <div class={`${css["card-blog--text"]}`}>
                            <h4>Título del blog</h4>
                            <p>
                                Breve descripción del contenido del blog para
                                atraer a los lectores.
                            </p>
                            <a
                                href="posts/post-1/"
                                class={`${css["card-blog--btn"]}`}
                            >
                                Leer más
                            </a>
                        </div>
                    </article>
                </SwiperSlide>
                <SwiperSlide>
                    <h2>hola</h2>
                </SwiperSlide>
                <SwiperSlide>
                    <h2>hola</h2>
                </SwiperSlide>
            </SwiperComponent>
        </section>
    </section>
</Layout>
